.header__logo {
   margin: 20px 0 20px 0;
}
.header__banner {
   background-image: url("../images/HeroImagelg.png");
   background-position: center center;
   width: 100%;
   background-size: cover;
   display: flex;
   padding-bottom: 10%;
   border-radius: 35px 35px 0 0;
   margin-top: 15px;

   .contents {
      margin-top: 100px;
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-left: 90px;
      @media screen and (max-width: 768px) {
         margin-left: 2%;
         .input {
            width: 95% !important;
         }
      }

      .input {
         width: 394.62px;
         position: relative;
         margin-top: 50px;

         input {
            width: 100%;
            height: 69.67px;
            font-size: 22px;
            border: 0;
            padding-left: 20px;
            outline: 0;
            background: #ffffff;
            border-radius: 59px;
         }
         .icon {
            right: 20px;
            top: 50%;
            transform: translate(0, -50%);
            position: absolute;
         }
      }
   }
   p {
      color: #fff;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 29px;

      color: #ffffff;
   }
   img {
      width: 450px;
      color: white;
      @media screen and (max-width: 768px) {
         width: 50%;
      }
   }
}

.discover__container {
   @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      padding-bottom: 20px;
   }
   width: 100%;
   background-color: #e3e1dc;
   padding-top: 15px;
   padding-bottom: 100px;
   margin-bottom: 100px;
   border-radius: 0 0 35px 35px;
   .items {
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-between;
      gap: 40px;
      flex-direction: column;
      display: flex;
   }
   h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      color: #291507;
      position: relative;
      &::after {
         content: "";
         width: 59px;
         position: absolute;
         border-radius: 77px;

         height: 3px;
         left: 0;
         bottom: -9px;
         background: #4d270c;
      }
   }
   .breeds {
      display: flex;
      justify-content: space-between;

      h2 {
         font-style: normal;
         font-weight: bold;
         font-size: 48px;
         line-height: 59px;
         color: #291507;
         @media screen and (max-width: 768px) {
            font-size: 2rem;
            line-height: 1;
         }
      }
      p {
         align-self: flex-end;
         align-items: center;
         display: flex;
         cursor: pointer;
         font-weight: 600;
      }
   }
}

.breedsCats {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
   }
}

.breed__container {
   @media screen and (max-width: 768px) {
      margin-bottom: 20px;

      img {
         height: 200px !important;
      }
   }
   &:nth-of-type(1) {
      margin-right: 4%;
   }
   &:nth-of-type(2) {
      margin: 0 4%;
   }
   &:nth-of-type(3) {
      margin: 0 4%;
   }
   &:nth-of-type(4) {
      margin-left: 4%;
   }
   img {
      border-radius: 25px;
      max-width: 250px;
      width: 100%;
      height: 220px;
   }
   p {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      color: #291507;
   }
}

.why__container {
   justify-content: space-around;
   align-items: center;
   display: flex;

   @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 50px;
   }

   position: relative;
   .why__left {
      width: 40%;
      @media screen and (max-width: 768px) {
         width: 100%;
      }
      h2 {
         &:before {
            position: absolute;
            content: "";
            width: 70px;
            height: 3px;
            background: #4d270c;
            border-radius: 77px;
         }
         font-style: normal;
         font-weight: bold;
         font-size: 48px;
         line-height: 59px;

         color: #291507;
      }
      p {
         &:nth-of-type(1) {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
         }
         &:nth-of-type(2) {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: rgba(41, 21, 7, 0.6);
         }
      }
   }
}

.why__right {
   display: flex;
   align-items: flex-start;
   justify-content: center;

   img {
      width: 100%;
      max-height: 500px;
      max-width: 300px;
      padding: 0 10px 0 0;
      height: 100%;
      &:nth-of-type(2) {
         padding: 10px 10px 0 0;
         max-width: 200px;
         align-self: flex-end;
      }
   }
   div {
      display: flex;

      flex-direction: column;
   }
   > img {
      max-width: 250px;
      width: 200px;
      max-height: 350px;
   }
}
