.singleCat {
   padding-bottom: 150px;
   width: 100%;
   margin: 0 auto;
   .imageContainer {
      margin-top: 33px;
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 0.85fr 0.85fr 0.85fr 0.85fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
      @media screen and (max-width: 1024px) {
         grid-template-columns: 0.85fr 0.85fr;
         max-width: 700px;
         margin: 0 auto;
         grid-template-rows: 1fr 1fr 1fr;
      }
      img {
         max-width: 400px;
         width: 100%;
         object-fit: fill;
         height: 100%;
         border-radius: 35px;
         padding: 10px;
      }
   }
}
.singleCat__container {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
      .singleCat__info {
         width: 100% !important ;
      }
      img {
         margin: 50px 0;
      }
   }
   img {
      width: 100%;
      max-height: 300px;
      max-width: 300px;
      border-radius: 18px;
   }
   .singleCat__info {
      width: 50%;
      .name {
         font-style: normal;
         font-weight: 600;
         font-size: 36px;
         line-height: 44px;
         color: #291507;
      }
      .description {
         font-style: normal;
         margin-top: 25px;
         font-weight: 500;
         font-size: 18px;
         line-height: 22px;
         color: #291507;
      }
   }
   .singleCat__info--single {
      .margin {
         margin: 30px 0;

         .simple__container {
            display: flex;
            @media screen and (max-width: 968px) {
               flex-direction: column !important;
               justify-content: center;
               align-items: center;
            }
            .simple {
               width: 150px;
            }
         }
      }

      .simple {
         font-style: normal;
         font-weight: bold;
         font-size: 16px;
         line-height: 20px;
         display: inline-block;
         color: #000000;
         span {
            font-weight: 500;
         }
      }
   }
}

.graphs {
   @media screen and (max-width: 768px) {
      display: flex;
      .graph,
      .graph-white {
         margin-top: 10px;
         padding-top: 15px;
      }
   }
   .graph {
      display: inline-block;

      &::before {
         content: "   ";
         width: 60px;
         height: 12px;
         background: #544439;
         margin: 0 5px;
         border-radius: 8px;
         display: inline-block;
      }
   }
   .graph-white {
      display: inline-block;

      &::before {
         content: "   ";
         width: 60px;
         height: 12px;
         background: #dadada;
         margin: 0 5px;
         border-radius: 8px;
         display: inline-block;
      }
   }
}

.otherImages {
   display: flex;
   width: 100%;
   img {
      max-width: 300px;
      border-radius: 25px;
      width: 240px;
      height: 220px;
   }
}
